<div class="damoritosh-hacking-viewer-chat-message">
  <h3><i class="fas fa-network-wired"></i> Hacking Network Shared</h3>
  <p class="host-info">Host: <strong>{{host}}</strong></p>
  {{#if sessionDisplay}}
  <p class="session-info">Session: <code>{{sessionDisplay}}</code></p>
  {{/if}}
  <div class="button-row">
    <button type="button" class="damoritosh-hacking-viewer-open-viewer" data-url="{{encodedUrl}}">
      <i class="fas fa-display"></i> Open Viewer
    </button>
    <a href="{{url}}" target="_blank" class="external-link">
      <i class="fas fa-external-link-alt"></i> Open in Browser
    </a>
  </div>
</div>
